## ML Zoomcamp - Homework #1

## 1. Numpy Version

In [7]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.21.5'

## Getting the Data

In [6]:
# import requests

# remote_url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
# local_file = 'data.csv'

# data = requests.get(remote_url)

# with open(local_file, 'wb')as file:
#     file.write(data.content)

In [26]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## 2. How many records are in the dataset ?

In [51]:
df.shape

(11914, 16)

`There are 11,914 records`

## 3. Who are the most frequent car manufacturers (top-3) according to the dataset?

In [11]:
df.Make.value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

`Top 3 Manufacturers: Chevrolet, Ford, Volkswagen`

## 4. What's the number of unique Audi car models in the dataset?

In [13]:
mask = df.Make == 'Audi'
df[mask].Model.nunique()

34

`There are 34 unique Audi Car models`

## 5. How many columns in the dataset have missing values?

In [17]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

`Five columns have missing values: Engine Fuel Type, Engine HP, Engine Cylinders, Number of Doors, Market Category`

## 6. Does the median value change after filling missing values?

##### median value of "Engine Cylinders" column before filling

In [27]:
df['Engine Cylinders'].median()

6.0

##### most frequent value of "Engine Cylinders"

In [31]:
col_mode = df['Engine Cylinders'].mode()
col_mode[0]

4.0

`The most frequent value of the same "Engine Cylinders is 4.0`

##### fill missing values in "Engine Cylinders" with mode.

In [32]:
df['Engine Cylinders'].fillna(col_mode[0], inplace=True)

##### median value of "Engine Cylinders"  after filling

In [33]:
df['Engine Cylinders'].median()

6.0

`No: The median value doesn't change`

## 7. Value of the first element of w

##### Select all the "Lotus" cars from the dataset

In [62]:
lotus_mask = df['Make'] == 'Lotus'
lotus_cars = df.loc[lotus_mask]
rel_lotus_cols = lotus_cars[['Engine HP', 'Engine Cylinders']].copy()
rel_lotus_cols.drop_duplicates(inplace=True)
rel_lotus_cols

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [81]:
# Linear Regression Implementation

X  = np.array(rel_lotus_cols)
xtrans = X.T
XTX = xtrans.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = XTX_inv.dot(xtrans).dot(y)

print(w)

[  4.59494481 -63.56432501]

`The value of the first element: 4.5949`